<div class="card">
    <div class="card-header">
        <h3><a class="link" href="/recipe/{{id}}">{{title}}</a></h3>
            <div>
               <p>Posted by {{user.username}} on {{format_date created_at}}</p>     
            </div>

    </div>

        <p class="card-body">{{ingredients}}</p>
        <p class="card-body">{{directions}}</p>

</div>



